<!-- link this file to layout.html -->
{% extends "layout.html" %}
<!-- inside block named "content" goes the content we want to display on page-->
{% block content %}
    <h1 style="color:rgb(0, 255, 0);">Connected devices</h1>
    <!-- card deck for devices with own card for each device -->
    <div class="card-deck">
        <!-- create a card for each device in dictionary -->
        {% for device in devices %}
        <div style="border:2px solid rgb(0, 255, 0);" class="card">
            <div style="background-color: rgb(0, 0, 0)"; class="card-body">
                <h5 style="color:rgb(0, 255, 0);" class="card-title">DEVICE: {{device.upper()}}</h5>
                <p style="color:rgb(0, 255, 0);" class="card-text">
                    <p style="color:rgb(0, 255, 0);">Type: <b style="color:rgb(0, 255, 0);">{{devices[device]["type"]}}</b></p>
                    <!-- list all sensors -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="color:rgb(0, 255, 0);">Sensor</th>
                                <th style="color:rgb(0, 255, 0);">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for sensor in devices[device]["sensors"] %}
                                <tr>
                                    <td style="color:rgb(0, 255, 0);">{{sensor}}</td>
                                    <td style="color:rgb(0, 255, 0);" id={{device + sensor}}>None</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>


    <!-- value update script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <script>
        // init socket connection
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        // ask for new values once a second = 1000 ms
        var timer = setInterval(timedfunc, 1000);
        // function that asks for data
        function timedfunc(){
            socket.emit('sensordata');
        };
        // say hello :)
        socket.on('connect', function() {
            socket.emit('hello', {data: 'I\'m connected!'});
        });
        socket.on('sensordata_out', function(devices){
            var dvc, sen, val;
            for (dvc in devices){
                for (sen in devices[dvc]){
                    val = devices[dvc][sen]
                    document.getElementById(dvc + sen).innerHTML = val
                }
            }
        });
        document.getElementById("valuedisplay").innerHTML = data["value"];


    </script>
{% endblock content %}
