<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <!-- OWN ADDITIONS -->
    {% if title %}
        <title>Raspi - {{title}}</title>
    {% else %}
        <title>Raspi page :D</title>
    {% endif %}
</head>

<body style="background-image:url(../static/img/matrix.gif)">
    <!-- NAVIGATION BAR. This is on every page so it might as well be here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <!-- logo -->
        <a class="navbar-brand" style="color:white"><img src="../static/img/raspi.png" alt="raspi"></a>
        <!-- toggler button -->
        <button class="navbar-toggler" data-target="#menubar" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar links , list available pages here?-->
        <div class="collapse navbar-collapse" id="menubar" >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a style="color:rgb(0, 255, 0);" class="nav-link" href="/"> Home</a>
                </li>
                <li class="nav-item">
                    <a style="color:rgb(0, 255, 0);" class="nav-link" href="/devices">Devices</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- CONTENT WILL BE HERE DONT DELETE :D -->
    <div class="container">
            {% block content %}
            {% endblock content %}
    </div>
</body>

</html>